In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(1000, 5), columns=list('ABCDE'))

In [2]:
df

            A         B         C         D         E
0   -1.470293 -1.525118  0.836008  0.433634  0.071003
1   -0.208723 -0.563710 -1.187523 -0.102120 -0.643111
2    0.006831 -1.297260  0.847801 -0.202340  0.497309
3    1.184229 -0.479856 -0.860750  0.099028 -0.349157
4   -0.697772 -0.400648  0.985094 -0.634655 -0.025595
..        ...       ...       ...       ...       ...
995  0.103614  0.563295 -0.743256  0.580323  0.826171
996  0.304813  0.612072  0.158199 -0.520818 -0.389017
997  0.105779 -0.249088 -2.553960  1.087293 -0.236849
998  1.566812 -0.743941  0.853120  0.099963 -0.405797
999  0.503130  0.541977 -0.179517  0.742298  0.467929

[1000 rows x 5 columns]

In [3]:
#Creating a function to get the mean score from a CV linear regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate

def lr_cv_mean_score(X, y, n_cv):
    """Returns the mean score of a Linear Regression cross validation"""
    
    model = LinearRegression()
    cv_results = cross_validate(model, X, y, cv=n_cv)
    
    return cv_results['test_score'].mean()

In [4]:
df['D']

0      0.433634
1     -0.102120
2     -0.202340
3      0.099028
4     -0.634655
         ...
995    0.580323
996   -0.520818
997    1.087293
998    0.099963
999    0.742298
Name: D, Length: 1000, dtype: float64

In [5]:
X = df.drop(['E'], axis=1)
y = df['E']

In [6]:
lr_cv_mean_score(X, y, 10)

-0.042830931580942054

In [7]:
model = LinearRegression()
cv_results = cross_validate(model, X, y, cv=10)
cv_results['test_score'].mean()

-0.042830931580942054

In [10]:
import toolbox
from toolbox.lreg_cv_mscore import lreg_cv_mscore

In [11]:
lreg_cv_mscore(X, y, 10)

-0.042830931580942054